body {
 height: 100vh;
}
.d-flex {
  height: 100%;
}

h1 {
  text-align: center;
  margin-top: 24px;
}


//card-movie
.card-movie {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-movie-button {
  padding: 6px;
  position: relative;
}

.fa-solid {
  color: red;
  font-size: 24px;
  position: absolute;
  top: 1px;
  right: 1px;
}

.card-movie > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-movie h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-movie p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-movie .card-movie-infos {
  padding: 16px;
  position: relative;
}

.card-movie-rating {
  text-align: right;
}
// add a new movie
.left-column {
  background-color: rgb(37, 37, 37);
  width: 350px;

}

.left-column img {
  width: 40px;
  margin: 16px;

}

.card-form {
  padding: 25px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgb(82, 0, 0);
  margin: 12px;

}
.new-movie {
  background-color: rgb(37, 37, 37);
}
.new-movie:focus {
  background-color: rgb(37, 37, 37);
  color: white;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
